@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundSize: 300px;
}

html,
body {
  height: 100%;
  background-color: #2e2e2e;
}

@keyframes movingBackground {
  from {
    background-position: 0 0;
  }

  to {
    background-position: var(--backgroundSize) var(--backgroundSize);
  }
}

.hero-background {
  background-image: url('/pattern.avif');
  background-size: var(--backgroundSize);
  animation: movingBackground 5s linear infinite;
  position: relative;
}

.hero-background:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  z-index: 1;
}